# Configuration de l'API GO
VITE_API_BASE_URL=https://officielbenome-backend.onrender.com/api

# Environnement (development/production)
VITE_ENV=development

# Clé Google Maps (si nécessaire)
VITE_GOOGLE_MAPS_API_KEY=votre_cle_api_google_maps

# Configuration Cloudinary (si nécessaire)
VITE_CLOUDINARY_CLOUD_NAME=votre_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=votre_upload_preset

# Configuration Sentry (si nécessaire)
VITE_SENTRY_DSN=votre_dsn_sentry
