# Désactive l'exécution automatique des scripts prepare et autres en production
ignore-scripts=true
# Force l'utilisation de npm pour la résolution des dépendances
package-lock=true
# Utilise la version la plus récente des packages
save-exact=true
